doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title 後台管理系統 - 登入

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="/auth/css/vendor.css" rel="stylesheet")
  body.login
    .login_wrapper#login-app
        .animate.form.login_form
          section.login_content
            form
              h1 Login Form
              div
                input(type="text" class="form-control" placeholder="Username" required="" v-model.trim="uname" @keyup.enter="submit")
              div
                input(type="password" class="form-control" placeholder="Password" required="" v-model.trim="upwd" @keyup.enter="submit")
              .row
                .col-xs-6
                  img(:src='codeimg' @click.prevent='reloadCodeImg')
                .col-xs-6
                  input(type="text" class="form-control" placeholder="驗證碼" required="" v-model.trim="codes" @keyup.enter="submit")
              div
                a.btn.btn-default.submit(href="" @click.prevent="submit") Log in

              .clearfix

              .separator
                div
                  h1 
                    i.fa.fa-cog
                    | 後台管理系統
                  p ©2017 Medialand
    script(src="/auth/js/vendor.js")
    script(src="/auth/js/login.js")
